@import "globals";
@import "variables";

.wrapper {
      max-width: 1440px;
      margin: auto;
      position: relative;
      overflow: hidden;
}
// 1 Header
.header {
      max-width: torem(1110);
      margin: auto;
      height: torem(70);
      
      // Nav
      nav {
            justify-content: space-between;
            height: 100%;
            position: relative;
    

            .main-menu {
                  a {
                        padding: torem(20);
                        display: inline-block;
                        font-size: torem(12);
                  }

            }
            .humberger__btn {              
               border: 0;
               display: none;
               > * {
                    width: 30px;
                    height: 5px;
                    margin: 3px;
                    border-style: solid;
                    background: #333;
                    display: block;                    
               }

               
            }

            .humberger__open {
                  > * {
                        position: absolute;
                        transition: .3s ease;  
                    
                  }
                  > *:first-child {                                    
                        transform: rotateZ(45deg); 
                        right: 0;    
                        left: auto;          
                  }
                  *:last-child {             
                        transform : rotateZ(-45deg); 
                        right: 0;
                        left: auto;
                  }
                  > *:nth-child(2) {
                       right: 0;
                       left: auto;
                        visibility: hidden;
                  }
                
            }

            .humberger__close {
                 
                  > * {
                        transition: .3s ease;  
                        position: relative;
                  }
                  > *:nth-child(2) {
                        visibility: visible;
                  }
                
            }

            

            // Humberger menu
            .humberger {
                  padding: torem(30) torem(20);
                  background-color: #f2f2f2;
                  border-radius: torem(10);

                  display: flex;
                  width: torem(300);
                  position: absolute;
                  top: torem(120);
                  left: 50%;
                  transform: translateX(-50%);
                  z-index: 9999;
                  display: none;
                  a {
                        display: block;
                        padding: torem(20);
                        width: 100%;
                        text-align: center;
                        border-radius: 70px 0 70px 0;
                  }

                  a:hover {
                       background-color: #fff;
                  }
            }
            // End of Humberger
      }
      // End of Nav

     
}
// 1 End of Header


// 1 Main
.main {
      max-width: torem(1110);
      margin: auto;
      height: 100%;
      padding: 0 torem(20);
 

      // Section hero
      .hero {
            padding-top: torem(80);
            gap: torem(30);
            flex-direction: row-reverse;
            align-items: flex-start;


            &__content {
                  flex: 40%;
                  align-items: flex-start;

                  p {
                        margin: torem(45) 0;
                        width: 75%;
                  }
            }
      }
      // 2 End of Hero section

      .hero::after {
            content: url("../images/bg-tablet-pattern.svg");           
            position: absolute;
            z-index: -1;
            top: -200px;
            right: -100px;
           
      }
      // 2 End of Hero After
      

      // 2 Product Section
      .product {
            margin-top: torem(100);
            align-items: flex-start;
            gap: torem(60);
            text-align: left;
          

            // Product Left
            &__left {
                  align-items: flex-start;
                  h2 {
                        margin-bottom: torem(40);
                  }

                  p {
                        width: 90%;
                        line-height: 1.5;
                  }
            }
            // End of Product left

            &__right {
                  .item {
                        margin-bottom: torem(40);
                        display: grid;
                        grid-template-columns: 20% 80%;
                        grid-template-rows: 20% 80%;
                        gap: 0;
                        align-items: center;
                        justify-content: center;

                        &__text {
                              grid-column: 2;
                              grid-row: 2;
                              justify-self: center;
                              align-content: center;
                              text-align: left;
                        }
                  }
            }
      }
      // 2 End of Product Section

      .product::after {
            content: url('../images/bg-tablet-pattern.svg');
            position: absolute;
            z-index: -1;
            left: -500px;
            bottom: 400px;
      }

      // 2 Carrers
      .carrers {
            margin-top: torem(100);
            margin-left: auto;
            margin-right: auto;
            gap: torem(70);
            font-size: 12px;


            &__content {
                  gap: torem(30);
    

                  > * {
                       
                        text-align: center;
                       
                  }
            }
      }
      // 2 End of Carrer
}


//1 End of Main

// 1 Footer
.footer {
      color: #fff;
      margin-top: torem(180);
      margin-top: torem(100);
      // Top Footer
      &__top {
            background-color: $Bright_Red;
            height: torem(200);

            &__wrapper {
                  padding: 0 torem(20);
                  justify-content: space-between;
                  align-items: center;
                  // text-align: center;
                  // gap: torem(30);
                  width: 1110px;
                  margin: auto;
                  gap: torem(100);

                  .btn {
                        display: inline-block;
                        width: auto;
                  }

                  .btn:hover {
                        background-color: #fff;
                        color: $Bright_Red;
                  }

                  > * {
                        width: 45%;
                  }
            }
      }
      // End of Top Footer

      // Bottom Footer
      &__bottom {
            background-color: $Very_Dark_Blue;

            a {
                  color: #fff;
                  font-size: torem(14);
            }

            a:hover {
                  color: $Bright_Red;
            }

            &__wrapper {
                  width: torem(1110);
                  padding: torem(20);
                  justify-content: space-between;
                  gap: torem(30);
                  margin: auto;
                  // flex-wrap: wrap;

                  // justify-content: stretch;
                  .footer_one {
                        align-items: flex-start;
                  }

                  .footer__menu {
                        gap: torem(130);
                  }

                  .footer__contact {
                        form {
                              gap: torem(10);
                              position: relative;
                             
                             
                              input {
                                   width: torem(250);
                                    border: 0;
                                    border-radius: 5px;
                                    padding: torem(10);

                              }

                              #error {
                                   display: block;
                              }

                              input:focus  {
                                    outline: none;
                              }

                              .valid::after {
                                   content: '';
                                   width: 24px;
                                   height: 24px;
                                   position: absolute;
                                   top: 6px;
                                   right: 5px;
                                   background: url('../images/icon-correct.svg');
                                   z-index: 1234;
                              }

                              .invalid {
                                   background: red;
                                   font-size: 12px;
                                   letter-spacing: 1px;
                                   padding: 3px;
                                   text-align: center;
                                   border-radius: 5px;
                                   
                              }
                              
                              .form-control {                              
                                   position: relative;
                              }

                              .form-control  .invalid::after{
                                   content: '';
                                   width: 24px;
                                   height: 24px;
                                   position: absolute;
                                   top: 10px;
                                   right: 5px;
                                   background: url('../images/icon-error.svg');
                                   z-index: 123;
                              }
                             
                        }
                        p {
                              font-size: torem(10);
                              letter-spacing: 1px;
                        }
                  }
                  // End of Footer Contact Us

                  .footer__social {
                        > * {
                              cursor: pointer;
                              padding: torem(5);
                        }
                        > *:hover {
                             color: red;
                             
                        }
                  }
            }
      }
      // End of Bottom Footer

      // Attribution
      .attribution {
            background-color: $Very_Dark_Blue;
            height: torem(40);
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                  color: red;
            }
      }
      // End of Attribution
}
// 1 End of Footer

@media (max-width: torem(768)) {
      // 1 Header
      .header {
            padding: torem(20);
            nav {
                  //2 Nav
                  .btn-get-started {
                        display: none;
                  }
            } // 2 End of Nav
      }
      // 1 End of Header

      //1 Main
      .main {
            padding: 0 torem(20);

            //2 Section hero
            .hero {
                  &__content {
                        flex: 60%;
                        align-items: flex-start;

                        h1 {
                              font-size: torem(30);
                        }

                        p {
                              margin: torem(45) 0;
                              width: 80%;
                              font-size: torem(14);
                        }
                  }
            }
            // 2 End of Hero section

            // 2 Manage Section
            .product {
                  margin-top: torem(100);
                  align-items: flex-start;
                  gap: torem(60);
                  text-align: left;

                  // Product Left
                  &__left {
                        h2 {
                              margin-bottom: torem(40);
                              font-size: torem(25);
                        }

                        p {
                              width: 80%;
                              line-height: 1.5;
                              font-size: torem(14);
                        }
                  }
            }
            // 2 End of Manage Section
      }
      //1 End of Main

      // 2 Carrers
      .carrers {
            flex-flow: column wrap;

            &__content {
                  // gap: torem(30);
                  flex-wrap: wrap;
                  // flex: 100% 100%;
                  > * {
                        flex: 25%;
                  }
            }
      }
      // 2 End of Carrers

      //1 Footer
      .footer {
            margin-top: torem(60);

            // Footer top
            &__top {
                  &__wrapper {
                        flex-direction: column;
                        text-align: center;
                        gap: torem(30);

                        > * {
                              width: 100%;
                        }
                        h2 {
                              font-size: torem(30);
                        }
                  }
            }
            // End of Footer top

            // Footer bottom
            &__bottom {
                  // height: torem(536);
                  &__wrapper {
                        flex-wrap: wrap;
                        .footer__menu {
                              gap: torem(30);
                        }
                  }
            }
            // End of Footer bottom
      }
      //1 End of Footer
}

@media screen and (max-width: torem(500)) {
      //1 Header
      .header {
            nav {
                  .main-menu {
                        display: none;
                  
                  }

                  .humberger__btn {                    
                    display: block;
                  }
            }
      }
      // 1 End of Header

      // 1 Main
      .main {
            section {
                  flex-flow: column wrap;
            }

            // Section hero
            .hero {
                  text-align: center;
                  &__content {
                        align-items: center;
                  }
            }
            // End of Section hero

            // Section product
            .product {
                  // Product left
                  &__left {
                        align-items: center;
                        text-align: center;
                  }
                  // End of Product left

                  // Product right
                  &__right {
                        .item {
                              grid-template-columns: 15% 85%;
                              grid-template-rows: 40% 50%;
                              row-gap: torem(10);
                              position: relative;

                              &__text {
                                    grid-column: 1 / span 2;
                                    grid-row: 2;
                              }
                        }

                        .item__btn::before {                              
                              content: '';
                              position: absolute;
                              left: torem(20);
                              background: $Bright_Red;
                              opacity: 0.1;

                              height: 38px;
                              width: 100%;
                              
                             
                              top: 5px;
                              border-radius: 30px;
                        }
                  }
                  // End of Product right
            }
            // End of Product
      }
      // 1 End of Main
      //1 Footer
      .footer {
            margin-top: torem(60);

            // Footer bottom
            &__bottom {
                  &__wrapper {
                        flex-direction: column-reverse;
                        align-items: center;
                  }
            }
            // End of Footer bottom
      }
      //1 End of Footer
}


